{% extends 'gfiles/simple_form.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% block sb_admin_title %}Reset password {% endblock sb_admin_title %}
{% block sb_admin_subheading %} <small></small> {% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %} <a href="{% url "index" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a> {% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %} / Reset password {% endblock sb_admin_breadcrumb_active %}
{% block panel_title %}Reset password{% endblock panel_title %}
{% block preamble %}


    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset.</p>


{% endblock preamble %}

{% block postamble %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

{% endblock postamble %}