{% extends 'base.html' %}
{% block sb_admin_title %}Password Reset {% endblock sb_admin_title %}
{% block sb_admin_subheading %} <small></small> {% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %} <a href="{% url "index" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
/ Password Reset </i></a>

{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}{% endblock sb_admin_breadcrumb_active %}
{% block panel_title %}Password reset{% endblock panel_title %}
{% block content %}
 <div class="general">
     <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
 </div>
{% endblock content %}