{% extends 'gfiles/simple_form.html' %}
{% load static %}
{% block sb_admin_title %}Sign Up Closed {% endblock sb_admin_title %}
{% block sb_admin_subheading %} <small></small> {% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %} <a href="{% url "index" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a> {% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %} / Sign Up Closed {% endblock sb_admin_breadcrumb_active %}
{% block panel_title %}Sign Up Closed{% endblock panel_title %}
{% block content %}

<p>We are sorry, but the sign up is currently closed.</p>

{% endblock content %}




