{% extends 'gfiles/simple_form.html' %}
{% load static %}
{% block sb_admin_title %}Verify Your E-mail Address{% endblock sb_admin_title %}
{% block sb_admin_subheading %} <small></small> {% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %} <a href="{% url "index" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a> {% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %} / Verify Your E-mail Address{% endblock sb_admin_breadcrumb_active %}
{% block panel_title %}Verify Your E-mail Address{% endblock panel_title %}
{% block content %}

<p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>

{% endblock content %}

