{% extends 'gfiles/table_with_filter_above.html' %}
{% block sb_admin_title %} Fragmentation for selected peak {{cid_id}} {% endblock sb_admin_title %}
{% block sb_admin_subheading %} <small></small> {% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}
    <a href="{% url "index" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    / <a href="{% url "data_and_results_summary" %}"> data & results summary</a>
    / <a href="{% url "metabinputdata_summary" %}"> metabolomics analysis dataset summary</a>
    / <a href="{% url "combinedpeak_summary" mid_id %}"> peak summary </a>
{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %} / fragmentation for selected peak {{ cid_id }}{% endblock sb_admin_breadcrumb_active %}
{% block panel_title %}Summary{% endblock panel_title %}