{% extends 'gfiles/simple_form.html' %}
{% load static %}
{% block sb_admin_title %}
    {% if form.instance.pk %}
        Update Measurement Protocol
    {% else %}
        Create Measurement Protocol
    {% endif %}
{% endblock sb_admin_title %}
{% block sb_admin_subheading %} <small></small> {% endblock sb_admin_subheading %}

{% block sb_admin_breadcrumb %}
    <a href="{% url "index" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    / <a href="{% url "ilist" %}"></i> ISA Summary </a>
    / <a href="{% url "mp_list" %}"></i> Measurement Protocols </a>
{% endblock sb_admin_breadcrumb %}

{% block sb_admin_breadcrumb_active %}
    {% if form.instance.pk %}
        / Update Measurement Protocol
    {% else %}
        / Create Measurement Protocol
    {% endif %}
{% endblock sb_admin_breadcrumb_active %}
{% block panel_title %}{% endblock panel_title %}


{% block sb_admin_custom_js %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>#}
    {{ form.media }}
{% endblock sb_admin_custom_js %}
