{% extends 'gfiles/table_with_filter_above.html' %}
{% block sb_admin_title %} Metabolomics Analysis Dataset Summary {% endblock sb_admin_title %}
{% block sb_admin_subheading %} <small></small> {% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}
    <a href="{% url "index" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    / <a href="{% url "data_and_results_summary" %}"> data & results summary</a>
{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %} / metabolomics analysis dataset summary
{% endblock sb_admin_breadcrumb_active %}
{% block panel_title %}Summary{% endblock panel_title %}
{% block preamble %}
    <p> Overview of all metabolomics analysis datasets uploaded</p>
    <p> Datasets should have been processed and annotated using either an external workflow scripts or through
        Galaxy</p>
{% endblock preamble %}
