{% extends 'gfiles/simple_form.html' %}
{% block sb_admin_title %}Search Ontology Term {% endblock sb_admin_title %}
{% block sb_admin_subheading %} <small>via Ontology Lookup Service</small> {% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}
    <a href="{% url "index" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    / <a href="{% url "ilist" %}"> ISA Summary</a>
{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %} / Search Ontology Term {% endblock sb_admin_breadcrumb_active %}
{% block panel_title %}Search Parameters{% endblock panel_title %}