.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}


/*!*img {*!*/
    /*!*max-width: 100%;*!*/
    /*!*max-height: 100%;*!*/
/*!*}*!*/
/*.page-header {*/
    /*!*background-color: #915fa5ff;*!*/
    /*background-color: #dbeeeeec;*/

    /*margin-top: 0;*/

    /*padding: 0px 0px 0px 0px;*/
    /*position: relative;*/

/*}*/

/*.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {*/
    /*color: #00000090;*/
    /*font-weight: 200;*/
    /*font-size: 10pt;*/
    /*text-decoration: none;*/
    /*font-family: Roboto-Slab, serif;*/
    /*!*display: inline;*!*/
    /*vertical-align: bottom;*/
/*}*/

/*.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {*/
    /*color: #ffffff;*/
    /*font-size: 14pt;*/
    /*text-decoration: none;*/
    /*font-family: Roboto-Slab, serif;*/
/*}*/



/*!*.content {*!*/
    /*!*margin-left: 40px;*!*/
/*!*}*!*/

/*!*h1, h2, h3, h4 {*!*/
    /*!*font-family: Roboto-slab, Roboto, sans-serif;*!*/
/*!**!*/
/*!*}*!*/


/*.header-img-container {*/
    /*position: relative;*/
/*}*/


/*#header-img1 {*/
  /*!*float: left;*!*/
  /*!*text-align: left;*!*/
  /*width: 140px;*/
  /*padding: 25px 10px 10px 0px;*/
            /*vertical-align:bottom;*/
        /*border:0;*/
/*}*/

/*#header-img2 {*/
  /*float: left;*/
  /*text-align: left;*/
  /*width: 100px;*/
  /*vertical-align: bottom;*/
  /*padding: 10px 30px 10px 0px;*/
/*}*/

/*#header-img2 img {*/
  /*position: absolute;*/
  /*bottom: 0;*/
/*}*/

/*#header-e1 {float: left;*/
/*}*/
/*#header-e2 {overflow: hidden;}*/
/*#header-e3 {float: right;}*/

/*!*#header-img-h1 {*!*/
    /*!*!*position: absolute;*!*!*/

    /*!*padding: 10px 10px 10px 0px;*!*/
    /*!*display: inline;*!*/
/*!*}*!*/

/*!*#header-img {*!*/
    /*!*position: absolute;*!*/
	/*!*bottom: 0px;*!*/
    /*!*!*display: inline;*!*!*/
/*!*}*!*/



/*h1 {*/
    /*color: #4B490B;*/
    /*font-weight: 500;*/
    /*font-family: Roboto-Slab, serif;*/
/*}*/

/*h2, h3, h4 {*/
    /*color: #e9a97eff;*/
    /*font-family: Roboto-Slab, serif;*/
/*}*/


/*p {*/
    /*color: #4B490B;*/
    /*font-family: Roboto, serif;*/
/*}*/


/*.content {*/
    /*margin-bottom: 70px;*/
    /*color: #4B490B;*/
/*}*/



/*.date {*/
    /*color: #828282;*/
/*}*/

/*.save {*/
    /*float: right;*/
/*}*/

/*.post-form textarea, .post-form input {*/
    /*width: 100%;*/
/*}*/

/*.top-menu, .top-menu:hover, .top-menu:visited {*/
    /*color: #ffffff;*/
    /*float: right;*/
    /*font-size: 26pt;*/
    /*margin-right: 20px;*/
/*}*/



/*#nav {*/
	/*width: 100%;*/
	/*float: none;*/
	/*margin: 0 0 3em 0;*/
	/*padding: 0;*/
	/*list-style: none;*/
	/*background-color: #f2f2f2;*/
	/*border-bottom: 1px solid #ccc;*/
	/*border-top: 1px solid #ccc;*/
/*;*/
/*}*/

/*#nav li {*/
	/*float: none;*/
/*}*/

/*#nav li a {*/
	/*display: block;*/
	/*padding: 8px 15px;*/
	/*text-decoration: none;*/
	/*font-weight: bold;*/
	/*color: #4B490B;*/
	/*border-right: 1px solid #ccc;*/
/*}*/

/*#nav li a:hover {*/
	/*color: #4B490B;*/
	/*background-color: #fff;*/
/*}*/


/*.nav {*/
    /*font-size: 12pt;*/
    /*font-family: Roboto, serif;*/


/*}*/


/*.nav-title {*/
    /*font-family: Roboto, serif;*/

/*}*/

/*!*img {*!*/
    /*!*padding: 0;*!*/
    /*!*display: block;*!*/
    /*!*margin: 0 auto;*!*/
    /*!*max-height: 100%;*!*/
    /*!*max-width: 100%;*!*/
/*!*}*!*/
